body {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: #15A3c7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.lobby-container {
  background-color: #f0ffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
}

h1 {
  font-size: 40px;
  color: #333;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 20px;
  width: calc(100% - 40px);
  margin-bottom: 20px;
  background-color: #fff;
}

#play-btn {
  padding: 15px 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#play-btn:hover {
  background-color: #0056b3;
}
