*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(120deg, #2980b9, #6dd5fa);
    display: flex;
    justify-content: center;
    align-items: center;
}

main.table {
    width: 70vw;
    max-width: 900px; 
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.2);
    border-radius: .8rem;
    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #6dd5fa;
    color: #fff;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0 .8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 .1rem .4rem rgba(0, 0, 0, 0.1);
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: #333;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: rgba(255, 255, 255, 0.9);
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
}

table {
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
    color: #333;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #2980b9;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th:hover {
    color: #fff;
}

#leaderboard {
    width: 100vw;
}

#leaderboard .table__header h1 {
    font-size: 1.5rem;
}

#leaderboard .table__body th,
#leaderboard .table__body td {
    padding: 1.25rem; 
}

#leaderboard .table__body th:nth-child(1),
#leaderboard .table__body td:nth-child(1) {
    padding-right: 1rem; 
}

#leaderboard .table__body th:nth-child(3),
#leaderboard .table__body td:nth-child(3) {
    text-align: right;
}

#back-btn{
    border-radius: 10px;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #2980b9;
    color: white;
    cursor: pointer;
}